<a href="/">tillbaka</a>

<h3><%=@movie['title']%></h3>
<img src="/img/<%=@movie['id']%>.png" alt="Ingen bild har lagts till :( " height="400">
<h3>Premi채r 책r:</h3>
<p><%=@movie['year']%></p>
<h3>Beskrivning av filmen:</h3>
<p><%=@movie['desc']%></p>

<h3>Anv채ndares kommentarer</h3>
<% if session[:user_id] %>
<details>
  <summary>Add comment</summary>
<form action='/text_comment/' method='post'> 
  <label for="stars">Stj채rnor av 10:</label>
  <input type='text' name='stars'></input>
  <label for="comment">Kommentar:</label>
  <input type='text' name='comment'></input>
  <button type='submit'>Publicera</button>
</form>
</details>

<% end %>


<ul>
    <% @ratings.each do |rating| %>
        <li><%= rating['user_id']%>:<%= rating['comment']%>. Betyg:<%= rating['stars']%></li>
    <% end %>
</ul>