<button><a href="http://localhost:9292/">tillbaka</a></button>

<h3><%=@movie['title']%></h3>
<img src="/img/<%=@movie['id']%>.png" alt="Ingen bild har lagts till :( " height="400">
<h3>Premiär år: <%=@movie['year']%></h3>
<h3>Beskrivning av filmen: <%=@movie['desc']%></h3>

<h3>Användares kommentarer</h3>

<form action='/comment/' method='post'> 
  <button type='submit'>Kommentera</button>
</form>

<ul>
    <% @ratings.each do |rating| %>
        <li><%= rating['user_id']%>:<%= rating['comment']%>. Betyg:<%= rating['stars']%></li>
    <% end %>
</ul>